<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Software Developer - User Interfaces</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
	<% include common/nav.ejs %>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Software Developer - User Interfaces</h1>
				<hr />
				<h2>Job Description</h2>
				<p>
					We are looking for self-starting, motivated, and innovative team player with proven communication skills to be part of a very dynamic team at IBM. You will be part of the IBM Social Media Analytics team and will be using leading technologies to grow your skills and experience, such as Cloud Computing, Web 2.0, java, automation and big data analysis. IBM Social Media Analytics is a powerful application meant to transform social media from millions of online data sources into customer actionable insight.
				</p>

				<h2>Desirable Qualifications</h2>
				<ul class="list-group">
					<li class="list-group-item">BS, MS, or PhD in Computer Science or equivalent work experience</li>
					<li class="list-group-item">Agile, scrum or Extreme Programming experiences. Time management skills and dedication to project success.</li>
					<li class="list-group-item">Proven verbal and written communication skills</li>
					<li class="list-group-item">Proven teamwork skills</li>
					<li class="list-group-item">Java</li>
					<li class="list-group-item">Experience in test automation</li>
					<li class="list-group-item">Javascript, Node.js</li>
				</ul>

				<h2>Minimum Requirements</h2>
				<ul class="list-group">
					<li class="list-group-item">Bachelor's Degree</li>
					<li class="list-group-item">At least 1 year experience in Test automation</li>
					<li class="list-group-item">At least 1 year experience in Java</li>
					<li class="list-group-item">At least 1 year experience in Agile, Scrum or Extreme programming/software development</li>
					<li class="list-group-item">English: Fluent</li>
				</ul>

				<h2>Other Notes</h2>
				<p>
					This role will involve working with technology that is covered by embargo Export Regulations.  If you are a Foreign National from any of the following embargoed countries (Cuba, Iran, North  Korea, Sudan, Syria) on a work permit, you are not eligible for employment in this position
				</p>

				<hr />

				<form>
					<div class="form-group">
						<label for="exampleInputFile">Upload your resume!</label>
						<input type="file" id="exampleInputFile">
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center"><strong>IBM</strong></div>
					<div class="company-logo">
						<img src="images/IBM_logo.svg" />
					</div>
					<table class="table table-bordered">
						<thead>
							<tr><th class="text-center" colspan="2">Contact Information</th></tr>
						</thead>
						<tbody>
							<tr>
								<td>Job Location</td>
								<td>
									<address class="remove-margin">
										8200 Warden Ave,<br>
										Unionville, ON Canada<br>
										L6G 1C7
									</address>
								</td>
							</tr>
							<tr>
								<td>Contact Name</td>
								<td>Tom Fischer</td>
							</tr>
							<tr>
								<td>Phone</td>
								<td>(905) 316-5000</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>ftom05@ca.ibm.com</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div><!-- /container -->

	<% include common/footer.ejs %>

	<script src="js/lib/jquery-2.1.4.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/lib/ie10-viewport-bug-workaround.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>